@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

@page {
  size: A4 portrait;
  margin: 1cm 0.5cm;
}

body {
  font-family: "Times New Roman", Times, serif;
  font-size: 14pt;
  margin: 0;
  padding: 0;
  background: rgba(224, 224, 224, 0.486);
}

header {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  background-color: #2a60b1fa;
  justify-content: space-between;
  font-family: "Sriracha", cursive !important;

  & a {
      display: flex;
      align-items: center;
      text-decoration: none;
  }
}

.logo {
  margin-top: 7px;
  padding-left: 30px;
  display: flex;
  align-items: center;

  & img {
      width: 170px;
      height: auto;
  }
}

.text {
  padding-left: 0px;
  color: #fff;
  font-size: 20px; 
  font-family: "Sriracha", cursive !important;
}

.hover-logo {
  transition: 0.5s;
}

.hover-logo:hover {
  transform: scale(1.1)
}

#icone {
  color: #fff;
  font-size: 40px;
  height: auto;
  cursor: pointer;
  z-index: 2;
  position: absolute;
  right: 300px;
  transition: 0.6s;
}

.hover.rodou {
  transform: scale(1.3);
}

.girar-icone {
  transition: transform 0.5s ease;
}

.girar-icone.rodou {
  transform: rotate(-90deg);
}

.modal {
  top: 60px;
  width: 280px !important;
  height: 170px;
  position: absolute;
  right: 290px;
  z-index: 1;
  border: 5px double #2f6cc7a2;
  background: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.219) 0px 5px 20px;
  border-radius: 20px;
  transition: all 0.5s ease, opacity 0.3s ease;
  visibility: hidden;
  opacity: 0;
  transform: translateY(-10%);
}

.modal.visible {
  visibility: visible;
  opacity: 1;
  transform: translateY(0%);
}

li {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: self-start;
  font-size: 20px;
  color: #000;
  text-decoration: none;
  text-align: left;
  margin-left: 15px;
}

.nav {
  text-decoration: none;
  column-gap: 20px;
  color: #000;
  text-shadow: 4px 4px 3px rgba(0, 0, 0, 0.219);
  transition: 0.5s;
}

.nav:hover {
  transform: scale(1.3);
  transform-origin: bottom left;
}

.pagina {
  width: 100%;
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
  text-align: center;
}

.via {
  display: inline-block;
  vertical-align: top;
  width: 48%;
  margin: 0.5%;
  border: 1px solid black;
  font-weight: normal;
  padding: 10px;
  box-sizing: border-box;
  height: 98%;
  page-break-inside: avoid;
}

.topo {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-bottom: 0;
  justify-content: center;
}

.brasao {
  width: 180px;
  margin: 4px 0 0 3px;
}

.titulo {
  display: flex;
  justify-content: start;
  align-items: start;
  line-height: 0.4;
  text-align: center;
  font-weight: bold;
  font-size: 21pt;
  letter-spacing: 2px;
}

#titulo {
  font-weight: bold;
  font-size: 23pt;
  margin-left: 35px;
  margin-bottom: -1.4cm;
}

.corpo {
  margin-top: 40px;
  margin-left: 30px;
  text-align: left;
  line-height: 0.9;
  font-size: 25pt;
}

.grad-nip {
  display: flex;
  text-align: left;
  column-gap: 40px;
  margin-bottom: -0.3cm;
}

.ajuste-linha {
  margin-bottom: 0cm;
}

.nome-guerra {
  margin-top: 0.2cm;
}

.assinaturas {
  font-size: 23pt;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: -25px;
}

.linha-autorizo {
  display: flex;
  justify-content: center;
  gap: 1.5cm;
  text-align: center;
  width: 100%;
  position: relative;
  left: -55px;
  top: -15px;
}

.coluna-esquerda {
  text-align: left;
  position: relative;
  left: -10px;
}

.coluna-direita {
  margin: 0px;
  font-size: 20pt;
  text-align: center;
  position: relative;
  top: 35px;
  left: -15px;
}

.linha-ass {
  position: relative;
  top: 5px;
  font-size: 20pt;
}

.encarrega {
  font-size: 20pt;
  margin-bottom: 30px;
}

.assinatura-final {
  text-align: center;
  font-weight: bold;
  font-size: 16pt;
  line-height: 1.2;
  position: relative;
  left: 20px;
}
.rodape {
  text-align: center;
  font-weight: bold;
  font-size: 25pt;
  margin-top: 80px;
  page-break-after: always;
}

body,
.via,
.corpo,
.titulo,
.assinaturas,
.nome-guerra,
.grad-nip {
  font-weight: normal !important;
}

strong {
  font-weight: bold !important;
}

@media print {
    body {
      -webkit-print-color-adjust: exact;
      print-color-adjust: exact;
      zoom: 50%;
      background-color: white;
    }

    header {
      display: none;
    }
}